* {
  padding: .5 em;
  margin: .5 em;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

h1 {
  font-family: 'Rowdies', cursive;
  font-size: 72px;
  color: darkblue;
  text-align: center;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-family: 'Rowdies', cursive;
  color: darkblue;
}



/* important this hides the details in the page*/
.hidden {
  display: none;
}

.new-player-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: dodgerblue;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.new-player-form label {
  margin-bottom: 5px;
  font-family: 'Rowdies', cursive;
}

.new-player-form input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.new-player-form button {
  margin-top: 10px;
  background-color: #ccc;
  color: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.new-player-form button[type="submit"]:hover,
.new-player-form button[type="reset"]:hover {
  background-color: #ddd;
}

#new-player-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}


/* this is for the player container cards*/

div#player-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* Distribute columns evenly */
}

.player-card {
  flex-direction: row;
  width: 30%;
  /* Set width to 30% for 3 columns */
  margin-bottom: 20px;
  /* Add some margin at the bottom */
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.player-card img {
  width: 100%;
  height: auto;
}

.player-details {
  margin-top: 10px;
  text-align: left;
}

.hidden {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  margin-top: 10px;

}

/* Overlay */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Outfit', sans-serif;
}

.modal h3 {
  font-family: 'Rowdies', cursive;
  margin-top: 0;
  color: darkblue;
}

.modal p {
  margin-bottom: 10px;
  font-family: 'Outfit', sans-serif;
}

.modal button {
  margin-top: 10px;
  font-family: 'Outfit', sans-serif;
}